In [2]:
%load_ext sql
%sql sqlite:///ebay.db

'Connected: @ebay.db'

In [2]:
%sql SELECT count(User.UserID) as Users FROM User;

 * sqlite:///ebay.db
Done.

[(13422,)]

In [3]:
%%sql
SELECT
    count(*) as users
FROM
    User
WHERE User.Location = "New York";

 * sqlite:///ebay.db
(sqlite3.OperationalError) no such table: User
[SQL: SELECT
    count(*) as users
FROM
    User
WHERE User.Location = "New York";]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [9]:
%%sql
SELECT count(*) as Auctions
FROM (
    SELECT count(DISTINCT Category.Type) as c
    FROM Category
    GROUP BY Category.ItemID
) countTable
WHERE countTable.c = 4;

 * sqlite:///ebay.db
Done.

[(8365,)]

In [18]:
%%sql
SELECT Item.ItemID as ID, Item.Currently  
FROM Item
WHERE Item.Currently = (
    SELECT max(Item.Currently)
    FROM Item
);

 * sqlite:///ebay.db
Done.

[(1046871451, 18000)]

In [17]:
%%sql
SELECT count(DISTINCT Item.SellerID) as Sellers
FROM User, Item
WHERE User.Rating > 1000
AND User.UserID = Item.SellerID;

 * sqlite:///ebay.db
Done.

[(3130,)]

In [10]:
%%sql
SELECT count(DISTINCT Bid.BidderID) as Users
FROM Bid, Item
WHERE Bid.BidderID = Item.SellerID;

 * sqlite:///ebay.db
Done.

[(6717,)]

In [28]:
%%sql
SELECT count(DISTINCT Category.type) as categories
FROM Category, Bid
WHERE Bid.Amount > 100
AND Bid.ItemID = Category.ItemID;

 * sqlite:///ebay.db
Done.

[(150,)]